*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  width: 1200px;
  height: 800px;
  block-size: 100%;
}
.content {
  display: flex;
  gap: 30px;
  margin: 133px 30px;
  inline-size: 100%;
  width: 1140px;
}
.result {
  align-self: flex-end;
}
.content__details {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 534px;
  padding: 20px;
}
.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}
.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content__list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.content__list {
  position: relative; 
  scrollbar-width: none;
}
.content__list-item {
  margin-bottom: 30px;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}
.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  }
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
}
.content__video-card-title {
  padding: 2px 2px 5px;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical; */
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;
}
.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 15px;
  cursor: pointer;
}
.search-form__textfield {
  flex-grow: 1;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #1B1919;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  appearance: none;
}
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #FFF;
}
.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
}
.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label-checkbox:hover .search-form__label-text-checkbox {
  text-decoration: underline;
}
.search-form__label-text-input:hover {
  text-decoration: none !important;
}
.button {
  border: 1px solid #FFF;
  padding: 6px 0;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}
.button:hover {
  text-decoration: underline 1px #FFF;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}
.preloader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.preloader--active {
  opacity: 1;
  visibility: visible;
}
.search-form__submit-button {
  min-width: 194px;
}
