*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
.content {
  display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%;
}

.result {
  align-self: flex-end;
}
.content__details {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 534px;
  padding: 20px;
  gap: 30px;
}
.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}
.content__list-container {
overflow-y: auto;
height: 534px;
}
